:root{
    --nuit: #120e0a;
    --orange: #fe7728;
    --ivoire: #F5EEE1;
    --ivoire-foncé:#CFC6B4;
    --or: #ffcf32;
    --orage-foncé:#d9631ed6;
    --boerdeau: #681532;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:   "Manrope",  sans-serif;
}

body{
    background-color: var(--nuit);
}
/*.......PARTIE HEADER......*/
header{
    height: 39rem;
    background-image:radial-gradient(ellipse,  #d9631ed2, #681532ce, #25030f 80%), url('../images/hero2.webp');
    background-size: cover;
    background-repeat: no-repeat;
}
a{
    color: white;
    font-size: 0.8rem;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 1rem 5rem;
    background-color: #25030f ;
}
nav ul {
    display: flex;
    justify-content: space-between;
    width: 35rem;
}
nav ul li{
    display: inline;
}
nav div button{
    padding: 10px 24px;
    border-radius:5px;
    border: none;
}
.hero{
    margin: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 30rem;
    margin: 3rem 0;
}
.hero_h1{
    font-size: 5rem;
    font-weight: 500;
    color:  var(--ivoire);
}
.hero_h1 em{
    color: var(--or);
}
.hero_P1{
    font-size: 1.5rem;
    color: var(--or);
}
.hero_p{
    color: var(--ivoire-foncé);
    text-align: center;
}
.btns{
    display: flex;
    gap: 1rem;
}
.hero_btn{
    padding: 10px 24px;
}
.hero_btn a{
    font-size: 0.8rem;
    color: #120e0a;
    font-weight: 500;
}
.btn3{
    background-color: var(--or);
    border: none;
    border-radius: 5px;
}
.btn1{
    background-color: transparent;
    border: solid 1px var(--or);
    border-radius: 5px;
}
.btn1 a{
    color: var(--ivoire);
}
.adresse span {
    color: #ffcf32; 
    border: solid 1px #ffcf32;
    font-size: 0.8rem;
    padding: 10px 24px;
    font-weight: 600;
    border-radius: 25px;
}
/*.......PARTIE DECOMPTE......*/
#decompte{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    background-color: var(--ivoire);
    height: 20rem;
    padding: 3rem;
}
.decompte_titre{
    color: var(--boerdeau);
    font-weight: 500;
    font-size: 0.8rem;
}
.decompte_list{
    display: flex;
    width: 25rem;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}
.point{
    font-size: 3rem;
    font-weight: 600;
    color: var(--or);
}
.decompte_item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.decompte_item h3{
    line-height: 1;
    color: var(--nuit);
    font-size: 4.3rem;
    font-weight: 500;
}
.decompte_item small{
    color: var(--boerdeau);
}
@media screen and (max-width: 1066px){
    header{
        height: auto;
        border-radius: 0px;
    }
    nav{
        width: auto;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .presentation{
        height: auto;
        gap: 2rem;
    }
}
@media screen and (max-width: 768px){
    header{
        height: auto;
        border-radius: 0px;
    }
    nav{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .presentation{
        height: auto;
        gap: 2rem;
    }
    .adresse{
        display: flex;
        flex-direction: column;
    }
}