:root{
    --nuit: #0b0004;
    --orange: #fe7728;
    --ivoire: #F5EEE1;
    --ivoire-foncé:#CFC6B4;
    --or: #ffcf32;
    --orage-foncé:#d9631ed6;
    --boerdeau: #681532;
    --bordeau-foncé: #25030f;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:   "Manrope",  sans-serif;
}

body{
    background: radial-gradient(ellipse, #681532, #0b0004, #0b0004);
}
/*.......PARTIE HEADER......*/
header{
    height: 39rem;
    background-image:radial-gradient(ellipse,  #d9631ec4, #68153287, #25030fef 70%), url('../images/Nsimba_Hero.avif');
    background-size: cover;
    background-repeat: no-repeat;
}
a{
    color: white;
    font-size: 0.8rem;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 1rem 5rem;
    background-color: var(--bordeau-foncé);
}
nav ul {
    display: flex;
    justify-content: space-between;
    width: 35rem;
}
nav ul li{
    display: inline;
}
nav div button{
    padding: 10px 24px;
    border-radius:5px;
    border: none;
}
.hero{
    margin: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 30rem;
    margin: 3rem 0;
}
.hero_h1{
    font-size: 5rem;
    font-weight: 500;
    color:  var(--ivoire);
}
.hero_h1 em{
    color: var(--or);
}
.hero_P1{
    font-size: 1.5rem;
    color: var(--or);
}
.hero_p{
    color: var(--ivoire-foncé);
    text-align: center;
}
.btns{
    display: flex;
    gap: 1rem;
}
.hero_btn{
    padding: 10px 24px;
}
.hero_btn a{
    font-size: 0.8rem;
    color: #120e0a;
    font-weight: 500;
}
.btn3{
    background-color: var(--or);
    border: none;
    border-radius: 5px;
}
.btn1{
    background-color: transparent;
    border: solid 1px var(--or);
    border-radius: 5px;
}
.btn1 a{
    color: var(--ivoire);
}
.btn1:hover{
    background-color: var(--or);
    color: var(--nuit);
}
.adresse span {
    color: #ffcf32; 
    border: solid 1px #ffcf32;
    font-size: 0.8rem;
    padding: 10px 24px;
    font-weight: 600;
    border-radius: 25px;
}
/*.......PARTIE DECOMPTE......*/
#decompte{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    background-color: var(--ivoire);
    height: 20rem;
    padding: 3rem;
}
.decompte_titre{
    color: var(--boerdeau);
    font-weight: 500;
    font-size: 0.8rem;
}
.decompte_list{
    display: flex;
    width: 25rem;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}
.point{
    font-size: 3rem;
    font-weight: 600;
    color: var(--or);
}
.decompte_item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.decompte_item h3{
    line-height: 1;
    color: var(--nuit);
    font-size: 4.3rem;
    font-weight: 500;
}
.decompte_item small{
    color: var(--boerdeau);
}
/*.......PARTIE PROGRAMME......*/
#programme{
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 6rem 4rem;
}
#programme small{
    color: var(--or);
    font-weight: 500;
}
#programme h2{
    color: var(--ivoire);
    font-weight: 600;
    font-size: 2rem;
}
.programme_jour{
    display: flex;
    justify-content: space-between;
    width: 25rem;
}
.programme_jour button{
    padding: 10px 24px;
    border-radius: 25px;
    border: solid 0.01rem var(--or);
    color: var(--or);
    background-color: transparent;
    font-weight: 600;
    transition: 0.3s;
}
.programme_jour button:hover{
    background-color: var(--or);
    color: var(--nuit);
}
.prog_liste{
    height: 20rem;
    width: 30rem;
    margin: 4rem;
    display: flex;
    flex-direction:column;
}
.prog_item{
    padding: 1rem 0;
    border-bottom: solid 0.01rem var(--ivoire-foncé);
    display: flex;
    gap: 3rem;
}
.prog_item span{
    color: var(--or);
    font-weight: 800;
    font-size: 1.3rem;
}
.prog_item p{
    color: var(--ivoire);
}

/*.......LINE UP*/
#lineup{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
#lineup small{
    color: var(--or);
    font-weight: 500;
}
#lineup h2{
    color: var(--ivoire);
    font-weight: 600;
    font-size: 2rem;
}
#lineup_liste{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    gap: 10px;
    width: auto;
    margin: 80px;
}
.artiste_item{
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    height: 18rem;
    width: auto; 
}

.artiste_item img{
    background-color: var(--card);
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}
.conteneur{
    background-color: var(--bordeau-foncé);
    padding: 14px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.conteneur h3 {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--ivoire);
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.4;
    min-height: 42px; 
}
.conteneur span{
    color: var(--ivoire-foncé);
}

@media screen and (max-width: 1066px){
    header{
        height: auto;
        border-radius: 0px;
    }
    nav{
        width: auto;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .presentation{
        height: auto;
        gap: 2rem;
    }
}
@media screen and (max-width: 768px){
    header{
        height: auto;
        border-radius: 0px;
    }
    nav{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .hero{
        margin: auto 4rem;
    }
    .presentation{
        height: auto;
        gap: 2rem;
    }
    .adresse{
        display: flex;
        flex-direction: column;
    }
}

